#! Name
name: sip3-salto

#! Vert.x
#vertx:
#  instances: 1

#! Server
server:
  uri: udp://0.0.0.0:15060
  buffer-size: 65535
#  ssl:
#    key-store: ...
#    key-store-password: ...

#! Management socket
#management:
#  uri: udp://0.0.0.0:15091
#  expiration-timeout: 120000
#  expiration-delay: 60000

#! Application
#time-suffix: yyyyMMdd
#udf:
#  check-period: 300000
#  execution-timeout: 100
#attributes:
#  record-ip-addresses: true
#  record-call-users: true
#sip:
#  message:
#    exclusions: [MESSAGE, SUBSCRIBE, NOTIFY, OPTIONS]
#    x-correlation-header: X-Call-ID
#  transaction:
#    expiration-delay: 1000
#    response-timeout: 3000
#    aggregation-timeout: 60000
#    termination-timeout: 5000
#  call:
#    expiration-delay: 1000
#    aggregation-timeout: 5000
#    termination-timeout: 5000
#    duration-timeout: 3600000
#    transaction-exclusions: [exclude-me]
#  register:
#    expiration-delay: 1000
#    aggregation-timeout: 10000
#    update-period: 60000
#    duration-timeout: 900000
#    transaction-exclusions: [exclude-me]
#rtp-r:
#  cumulative-metrics: true

#! Metrics
#metrics:
#  logging:
#    step: 1000
#  influxdb:
#    uri: http://127.0.0.1:8086
#    db: sip3
#    step: 1000
#    retention-duration: 7d
#  stasd:
#    host: 127.0.0.1
#    port: 8125
#    step: 1000
#    flavour: datadog
#  elastic:
#    host: 127.0.0.1:9200
#    index: sip3
#    step: 1000

#! Mongo
#mongo:
#  uri: mongodb://127.0.0.1:27017
#  db: sip3
#  bulk-size: 1
#  update-period: 300000
#  collections:
#    - prefix: attributes
#      indexes:
#        ascending: [name]
#      max-collections: 30
#    - prefix: sip_call_index
#      indexes:
#        ascending: [created_at, terminated_at, src_addr, src_host, dst_addr, dst_host, caller, callee, state, error_code, error_type, duration, setup_time, establish_time]
#        hashed: [call_id, x_call_id]
#      max-collections: 30
#    - prefix: sip_call_raw
#      indexes:
#        ascending: [created_at]
#        hashed: [call_id]
#      max-collections: 30
#    - prefix: sip_register_index
#      indexes:
#        ascending: [created_at, terminated_at, src_addr, src_host, dst_addr, dst_host, caller, callee, state]
#        hashed: [call_id]
#      max-collections: 30
#    - prefix: sip_register_raw
#      indexes:
#        ascending: [created_at]
#        hashed: [call_id]
#      max-collections: 30
#    - prefix: sip_message_index
#      indexes:
#        ascending: [created_at, terminated_at, src_addr, src_host, dst_addr, dst_host, caller, callee, state]
#        hashed: [call_id]
#      max-collections: 30
#    - prefix: sip_message_raw
#      indexes:
#        ascending: [created_at]
#        hashed: [call_id]
#      max-collections: 30
#    - prefix: sip_options_index
#      indexes:
#        ascending: [created_at, terminated_at, src_addr, src_host, dst_addr, dst_host, caller, callee, state]
#        hashed: [call_id]
#      max-collections: 30
#    - prefix: sip_options_raw
#      indexes:
#        ascending: [created_at]
#        hashed: [call_id]
#      max-collections: 30
#    - prefix: rtpr_rtp_index
#      indexes:
#        ascending: [started_at, src_addr, src_host, dst_addr, dst_host, mos, r_factor]
#        hashed: [call_id]
#      max-collections: 30
#    - prefix: rtpr_rtp_raw
#      indexes:
#        ascending: [created_at]
#        hashed: [call_id]
#      max-collections: 30
#    - prefix: rtpr_rtcp_index
#      indexes:
#        ascending: [started_at, src_addr, src_host, dst_addr, dst_host, mos, r_factor]
#        hashed: [call_id]
#      max-collections: 30
#    - prefix: rtpr_rtcp_raw
#      indexes:
#        ascending: [created_at]
#        hashed: [call_id]
#      max-collections: 30