#! Name
name: sip3-salto
version: 2026.1.1-SNAPSHOT

#! Vert.x
#vertx:
#  instances: 1

#! Server
#server:
#  uri: udp://0.0.0.0:15060
#  buffer_size: 65535
#  ssl:
#    key_store: ...
#    key_store_password: ...

#! Management socket
#management:
#  uri: udp://0.0.0.0:15091
#  expiration_delay: 60000
#  expiration_timeout: 120000
#  cleanup_timeout: 300000
#  publish_media_control_mode: 0

#! Application
#time_suffix: yyyyMMdd
#udf:
#  check_period: 10000
#  execution_timeout: 100
#attributes:
#  record_ip_addresses: true
#  record_call_users: true
#  check_period: 5000
#sip:
#  message:
#    exclusions: [MESSAGE, SUBSCRIBE, NOTIFY, OPTIONS]
#    x_correlation_header: X-Call-ID
#    parser:
#      mode: 1
#      extension_headers: [User-Agent, Reason, Diversion]
#  transaction:
#    expiration_delay: 1000
#    response_timeout: 3000
#    aggregation_timeout: 60000
#    termination_timeout: 4500
#    save_sip_message_payload_mode: 0
#  call:
#    expiration_delay: 1000
#    aggregation_timeout: 60000
#    termination_timeout: 2000
#    duration_timeout: 3600000
#    duration_distributions: [10s, 30s, 1m, 5m, 1h]
#    correlation:
#      role: reporter|aggregator
#  register:
#    expiration_delay: 1000
#    aggregation_timeout: 10000
#    update_period: 60000
#    duration_timeout: 900000
#media:
#  rtcp:
#    expiration_delay: 1000
#    aggregation_timeout: 30000
#  rtp_r:
#    expiration_delay: 1000
#    aggregation_timeout: 30000
#    min_expected_packets: 100
#    r_factor_distributions: [30, 50, 75, 95]
#    duration_distributions: [10s, 30s, 1m, 5m, 1h]

#! Metrics
#metrics:
#  logging:
#    step: 1000
#  influxdb:
#    uri: http://127.0.0.1:8086
#    db: sip3
#    step: 1000
#    retention_duration: 7d
#  statsd:
#    host: 127.0.0.1
#    port: 8125
#    step: 1000
#    flavour: datadog
#  elastic:
#    host: 127.0.0.1:9200
#    index: sip3
#    step: 1000

#! Mongo
#mongo:
#  uri: mongodb://127.0.0.1:27017
#  db: sip3
#  bulk_size: 1
#  update_period: 300000
#  management:
#    uri: mongodb://127.0.0.1:27017
#    db: sip3
#  collections:
#    - prefix: attributes
#      indexes:
#        ascending: [name]
#      max_collections: 30
#    - prefix: sip_call_index
#      indexes:
#        ascending: [created_at, terminated_at, src_addr, src_host, dst_addr, dst_host, caller, callee, state, error_code, error_type, duration, trying_delay, setup_time, establish_time, disconnect_time, transactions, retransmits, terminated_by, debug]
#        hashed: [call_id, x_call_id]
#      hint:
#        call_id: hashed
#      max_collections: 30
#    - prefix: sip_call_raw
#      indexes:
#        ascending: [created_at]
#        hashed: [call_id]
#      max_collections: 30
#    - prefix: sip_register_index
#      indexes:
#        ascending: [created_at, terminated_at, src_addr, src_host, dst_addr, dst_host, caller, callee, state, error_code, error_type transactions, retransmits, debug]
#        hashed: [call_id]
#      hint:
#        call_id: hashed
#      max_collections: 30
#    - prefix: sip_register_raw
#      indexes:
#        ascending: [created_at]
#        hashed: [call_id]
#      max_collections: 30
#    - prefix: sip_message_index
#      indexes:
#        ascending: [created_at, terminated_at, src_addr, src_host, dst_addr, dst_host, caller, callee, state, error_code, error_type, retransmits, debug]
#        hashed: [call_id]
#      max_collections: 30
#    - prefix: sip_message_raw
#      indexes:
#        ascending: [created_at]
#        hashed: [call_id]
#      max_collections: 30
#    - prefix: sip_options_index
#      indexes:
#        ascending: [created_at, terminated_at, src_addr, src_host, dst_addr, dst_host, caller, callee, state, error_code, error_type, retransmits, debug]
#        hashed: [call_id]
#      max_collections: 30
#    - prefix: sip_options_raw
#      indexes:
#        ascending: [created_at]
#        hashed: [call_id]
#      max_collections: 30
#    - prefix: rtpr_rtp_index
#      indexes:
#        ascending: [created_at, src_addr, src_host, dst_addr, dst_host, caller, callee, recorded, mos, r_factor, codec, one_way, duration, bad_report_fraction]
#        hashed: [call_id]
#      max_collections: 30
#    - prefix: rtpr_rtp_raw
#      indexes:
#        ascending: [created_at]
#        hashed: [call_id]
#      max_collections: 30
#    - prefix: rtpr_rtcp_index
#      indexes:
#        ascending: [created_at, src_addr, src_host, dst_addr, dst_host, caller, callee, mos, r_factor, codec, one_way, duration, bad_report_fraction]
#        hashed: [call_id]
#      max_collections: 30
#    - prefix: rtpr_rtcp_raw
#      indexes:
#        ascending: [created_at]
#        hashed: [call_id]
#      max_collections: 30
#    - prefix: rec_raw
#      indexes:
#        ascending: [created_at, src_addr, src_host, dst_addr, dst_host]
#        hashed: [call_id]
#      max_collections: 30