<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="DEFAULT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.micrometer.core.instrument.logging.LoggingMeterRegistry" level="INFO" additivity="false">
        <appender-ref ref="DEFAULT"/>
    </logger>

    <logger name="io.sip3" level="DEBUG" additivity="false">
        <appender-ref ref="DEFAULT"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="DEFAULT"/>
    </root>
</configuration>